.Todo-header {

}
ul{
    list-style:none;
}
img{
    width: 1.5vmin;
}
.todo-input {
    padding: 2vmin;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 40vmin;
    background: transparent;
}

.todo-input::placeholder {
    color: #e2e2e2;
}

.todo-button {
    padding: 2vmin;
    border: 2px solid #5d0cff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
            90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
}