.App {
  position: absolute;
  left: calc(50% - 40vmin);
  top: calc(50% - 30vmin);
  border: solid #e2e3e3;
  border-radius: 10px;
  height: 60vmin;
  width: 80vmin;
  background-color: #fdfdfe;
}

.App-header {
  background-color: #f6f6f6;
  font-size: calc(10px + 2vmin);
  color: black;
  border-bottom: solid #e2e3e3;
  font-weight: bold;
  text-align: left;
}
